<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

<app-start class="main" *ngIf="state == 0" (startGame)="startGame($event)" (emitUsername)="checkUser($event)" [checkedUsername]="startedGame" ></app-start>
<app-kmap-table class="main" *ngIf="state == 1" 
  [username]="username" 
  [score]="score" 
  [difficulty]="difficulty" 
  [form]="form" 
  [num_var]="num_var" 
  [terms]="terms" 
  [dont_cares]="dont_cares"
  [result]="result"
  (emitAnswer)="checkAnswer($event)"
></app-kmap-table>

<div class="header">
  <h1>Kmap GamEEE</h1>
</div>