<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=help" />

<div class="kmaps-container">
  <div class="kmap">
    <div class="kmap-table-row" *ngFor="let row_tables of kmap; let tablerowIndex = index">
      <div class="kmap-table-legend" *ngFor="let table of row_tables; let tableIndex = index"> 
        <div class="kmap-row" *ngFor="let row of table; let rowIndex = index">
          <div class="kmap-legend-cell" *ngFor="let cell of row; let cellIndex = index">
            <div *ngIf="rowIndex == 0 || cellIndex == 0"> {{ cell }} </div>
          </div>
        </div>
      </div>

        <div class="kmap-table" *ngFor="let table of row_tables; let tableIndex = index">
          <div class="kmap-row" *ngIf="num_var > 4"> {{ generateKmapTitles()[tablerowIndex][tableIndex] }} </div>
          <div class="kmap-row" *ngFor="let row of row_indices">
            <div class="kmap-cell" *ngFor="let cell of cell_indices">{{ kmap[tablerowIndex][tableIndex][row][cell] }}
              <div *ngFor="let row of checkGrouping(row - 1, cell - 1)">
                <div *ngIf="submitted == true" [style]="getGroupStyle(row)"></div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="user-info">
      <div>{{ username }}</div> <div> Score: {{ score }} </div>
        <div class="question">{{ getQuestion() }} 
          <div class="form-info-container">
            <span class="material-symbols-outlined"> help </span>
            <div class="form-info">
              <svg width="160" height="70" viewBox="0 0 160 70">
                <rect x="2" y="17" rx="10" ry="10" width="150" height="40"
                style="
                  fill:rgba(24, 30, 37, 0.80);
                  stroke:#181e25;
                  stroke-width:0px;
                  opacity:1;" />
                <polygon points="52,51 102,51 77,62" style="
                fill:rgba(24, 30, 37, 0.80);
                  stroke:#181e25;
                  stroke-width:0px;
                  opacity:1;"/>
                <rect x="0" y="15" rx="10" ry="10" width="150" height="40"
                style="
                  fill:#66839d;
                  opacity:1;" />
                <polygon points="50,49 100,49 75,60" style="
                  fill:#66839d;
                  opacity:1;"/>
              Sorry, your browser does not support inline SVG.
              </svg>
              <div class="form-info-text">{{form_info_text}}</div>
            </div>
          </div>
        </div>
    <form id = "answerblock" [formGroup] = "answerForm" (ngSubmit)="onSubmit()">
      <input type="text" id="answer" formControlName="answer" autocomplete="off">
          <button id = "button" type="submit" [disabled]="answerForm.invalid">Submit</button>
      <div *ngIf="answerForm.controls['answer'].invalid && (answerForm.controls['answer'].dirty)">
          <div class="error">Empty answer.</div>
      </div>
      <div *ngIf=" submitted == false && answerForm.controls['answer'].pristine" [ngSwitch]="result">
        <div *ngSwitchCase="-4" class="error">Server error (500). Please contact your instructor.</div>
        <div *ngSwitchCase="-1" class="error">Invalid characters. A B C D E F ' + ( ) only.</div>
      </div>
      <div *ngIf=" submitted == true && (result == 0 || result == -2)">
        <div *ngIf="result == 0" class="error">Wrong answer.</div>
        <div *ngIf="result == -2" class="error">Correct but wrong form.</div>
        <div class="error" *ngFor="let answer of answers">{{ answer }}</div>
      </div>
      <div *ngIf=" submitted == true && result == 1">
        <div class="correct">Correct answer!</div>
      </div>
    </form>
  </div>
</div>