<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

<div class="kmaps-container">
    <div class="kmap">
      <div class="kmap-table-row" *ngFor="let row_tables of kmap; let tablerowIndex = index">
        
        <div class="kmap-table-legend" *ngFor="let table of row_tables; let tableIndex = index"> 
          <div class="kmap-row" *ngFor="let row of table; let rowIndex = index">
            <div class="kmap-legend-cell" *ngFor="let cell of row; let cellIndex = index">
              <div *ngIf="rowIndex == 0 || cellIndex == 0"> {{ cell }} </div>
            </div>
          </div>
        </div>

        <div class="kmap-table" *ngFor="let table of row_tables; let tableIndex = index">
          <div class="kmap-row" *ngIf="num_var > 4"> {{ generateKmapTitles()[tablerowIndex][tableIndex] }} </div>
          <div class="kmap-row" *ngFor="let row of row_indices">
            <div class="kmap-cell" *ngFor="let cell of cell_indices">{{ kmap[tablerowIndex][tableIndex][row][cell] }}
              <div *ngFor="let row of checkGrouping(row - 1, cell - 1)">
                <div *ngIf="submitted == true" [style]="getGroupStyle(row)"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-info">
      <div>
        <div>{{ username }}</div> <div> Score: {{ score }} </div>
        <div>
      <p>{{ getQuestion() }}</p>
      <form id = "answerblock" [formGroup] = "answerForm" (ngSubmit)="onSubmit()">
        <input type="text" id="answer" formControlName="answer" autocomplete="off">
            <button id = "button" type="submit" [disabled]="answerForm.invalid">Submit</button>
        <div *ngIf="answerForm.controls['answer'].invalid && (answerForm.controls['answer'].dirty)">
            <div class="error">Empty answer.</div>
        </div>
        <div *ngIf=" submitted == false && answerForm.controls['answer'].pristine" [ngSwitch]="result">
          <div *ngSwitchCase="-4" class="error">Server error (500). Please contact your instructor.</div>
          <div *ngSwitchCase="-1" class="error">Invalid characters. A B C D E F ' + ( ) only.</div>
        </div>
        <div *ngIf=" submitted == true && (result == 0 || result == -2)">
          <div *ngIf="result == 0" class="error">Wrong answer.</div>
          <div *ngIf="result == -2" class="error">Correct but wrong form.</div>
          <div class="error" *ngFor="let answer of answers">{{ answer }}</div>
        </div>
        <div *ngIf=" submitted == true && result == 1">
          <div class="correct">Correct answer!</div>
        </div>
      </form>
      
    </div>
  </div>